<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common_include :: commonHead('用户查看')"/>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form class="form-horizontal m" id="form-user-view">
                <div class="form-group">
                    <label class="col-sm-3 control-label">用户名称：</label>
                    <div class="col-sm-8">
                        [[${user.username}]]
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">用户密码：</label>
                    <div class="col-sm-8">
                        [[${user.password}]]
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label ">员工名称：</label>
                    <div class="col-sm-8">
                        [[${user.staffName}]]
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label ">员工工号：</label>
                    <div class="col-sm-8">
                        [[${user.staffNum}]]
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label ">员工邮箱：</label>
                    <div class="col-sm-8">
                        [[${user.staffEmail}]]
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label ">登录账号：</label>
                    <div class="col-sm-8">
                        [[${user.loginAccount}]]
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:include="common_include :: commonFoot"/>
</body>
</html>
