<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<span th:fragment="content">
<th:block th:text="${Username}"/>：您好！<br/>
已成功将您添加到以下SVN组中。<br/>
SVN组名称：<span class="mid-red-text" style=" font-weight:700;">[[${SVNGroup.groupName}]]</span><br/>
SVN组描述：<span class="mid-red-text" style=" font-weight:700;">[[${SVNGroup.groupDesc}]]</span><br/>
<br/>
您将自动获得以下仓库的相应权限：<br/>
<th:block th:each="repository:${SVNRepositories}">
    SVN仓库名称：[[${repository.repositoryName}]] ，SVN仓库描述：[[${repository.repositoryDesc}]] ，SVN仓库地址：[[${SVNRepositoryRoot}]]/[[${repository.repositoryName}]] <br/>
</th:block>
<br/>
如有疑问可与<span><a href="#" th:href="${'mailto:' + AdminEmail + '?subject=SVN相关问题'}">管理员</a></span>联系。<br/>
<br/>
<span class="mid-red-text" style=" font-weight:700;">温馨提醒：你可以使用自己的SVN账号、密码进行访问；请不要提交与项目无关的东西到仓库。</span>
<br/>
<br/>
<span class="mid-CHSText">非常感谢！</span>
<br/>
<br/>
<span class="mid-ENUText">
SVN管理员 - <th:block th:text="${AdminName}"/><br/>
<th:block th:text="${SENDDatetime}"/><br/>
</span>
<br/>
</span>