<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<span th:fragment="content">
<th:block th:text="${Username}"/>：您好！<br/>
已成功将您从以下SVN组中移除。<br/>
SVN组名称：<span class="mid-red-text" style=" font-weight:700;">[[${SVNGroup.groupName}]]</span><br/>
SVN组描述：<span class="mid-red-text" style=" font-weight:700;">[[${SVNGroup.groupDesc}]]</span><br/>
<br/>
您将自动失去以下仓库的相应权限：<br/>
<th:block th:each="repository:${SVNRepositories}">
    SVN仓库名称：[[${repository.repositoryName}]] ，SVN仓库描述：[[${repository.repositoryDesc}]] ，SVN仓库地址：[[${SVNRepositoryRoot}]]/[[${repository.repositoryName}]] <br/>
</th:block>
<br/>
如有疑问可与<span><a href="#" th:href="${'mailto:' + AdminEmail + '?subject=SVN相关问题'}">管理员</a></span>联系。<br/>
<br/>
<span class="mid-red-text" style=" font-weight:700;">
温馨提醒：<br/>
1、请妥善保管账号和密码，以防忘记；禁止将自己的账号共享给别人，特别是不要外泄给非本公司人员。<br/>
2、如果您还需要对以上仓库的访问权限，请联系对应项目的负责人，并通知<span><a href="#" th:href="${'mailto:' + AdminEmail + '?subject=SVN相关问题'}">管理员</a></span>进行权限的重新添加。</span>
<br/>
<br/>
<span class="mid-CHSText">非常感谢！</span>
<br/>
<br/>
<span class="mid-ENUText">
SVN管理员 - <th:block th:text="${AdminName}"/><br/>
<th:block th:text="${SENDDatetime}"/><br/>
</span>
<br/>
</span>