<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="common_include :: commonHead('字典类型添加')"/>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <form class="form-horizontal m" id="form-dict-add">
                <div class="form-group">
                    <label class="col-sm-3 control-label">代码</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="typeCode" id="typeCode">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label ">名称</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="typeName" id="typeName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label ">描述</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="typeComment" id="typeComment"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">状态</label>
                    <div class="col-sm-8" th:with="dicts=${@dictCode.selectDictCodeByType('sys_normal_disable')}">
                        <div th:each="dict : ${dicts}" th:class="${dict['cssStyle']}">
                            <input type="radio" th:id="${dict['codeValue']}" name="typeStatus" th:value="${dict['codeValue']}"
                                   th:checked="${dict['isDefault'] == 'Y' ? true : false}">
                            <label th:for="${dict['codeValue']}" th:text="${dict['codeText']}"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">备注</label>
                    <div class="col-sm-8">
                        <input id="remark" name="typeRemark" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">模块名称</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="moduleName">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:include="common_include :: commonFoot"/>
<script type="text/javascript">
    var prefix = ctx + "system/dict/type"

    $("#form-dict-add").validate({
        rules: {
            typeName: {
                required: true,
            },
            typeCode: {
                required: true,
                remote: {
                    url: prefix + "/checkDictTypeUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        typeCode: function () {
                            return $.trim($("#typeCode").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return data == "0";
                    }
                }
            },
        },
        messages: {
            "typeCode": {
                remote: "该字典类型已经存在"
            }
        },
        submitHandler: function (form) {
            $.operate.save(prefix + "/add", $('#form-dict-add').serialize());
        }
    });

    function submitClick() {
        if($('#form-dict-add').valid()){
            $('#form-dict-add').submit()
        }
    }
</script>
</body>
</html>
